/* whyisthisnamedodinproject */
@font-face {
    font-family: "Norse-Bold";
    src: url("./fonts/Norse-Bold.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "Norse-Bold", sans-serif;
    font-size: 16px;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

p {
    font-family: 'Norse Bold', sans-serif;
    letter-spacing: 0.1px;
}